* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
}

#backtop {
    position: fixed;
    background-color: #07475C;
    right: 50px;
    bottom: -70px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    z-index: 2;
}

#backtop a {
    display: block;
    padding: 10px;
}

#backtop.backtop-show {
    bottom: 50px;
}

header {
    max-width: 1920px;
    height: auto;
    padding: 0px 20px;
    margin-right: auto;
    margin-left: auto;
    /* border: 1px solid red; */
    background: url(<path-to-image>), #144454 0% 0% / 100px 100px repeat;
}

.container {
    max-width: 1213px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    /* border: 1px solid green; */
}

.nav-bar {
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
}

.nav-link {
    color: #A1B5BB;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin: 30px;
}

.nav-link:hover {
    text-decoration-line: underline;
}

.nav-bar button {
    color: #FFF;
    width: 140px;
    height: 58px;
    background-color: #145E76;
    border-radius: 25px;
    font-family: Inter;
    font-size: 18px;
    border: none;
    font-style: normal;
    font-weight: 700;
    line-height: 28.8px;
}


.text {
    width: 100%;
    height: auto;
    display: flex;
    flex: 50%;
    /* border: 1px solid red; */
    padding-top: 33px;
    padding-bottom: 248px;
}

@media screen and (max-width:1250) {
    .container {
        flex-direction: column;
    }
}

.left {
    width: 537px;
    height: 544px;
    /* border: 1px solid black; */
    padding-top: 117px;

}

.right {
    width: 599px;
    height: 730px;
    /* border: 1px solid green; */
}

.top-btn {
    color: #FFF;
    font-family: Schoolbell;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 195px;
    height: 65px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #145E76;
    border: none;
}

.left h1 {
    color: #FFF;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    padding-top: 40px;

}

.left p {
    color: #849499;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.bottom-btn {
    width: 137px;
    height: 61px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28.8px;
    border-radius: 25px;
    background: #094556;
    border: none;
}

.bottom-btn:hover {
    background: #FFA63A;


}

.statistic {
    width: 100%;
    height: auto;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 73px 80px 0px rgba(0, 0, 0, 0.06);
    margin-top: -150px;
    position: absolute;
}

.statistic h4 {
    color: #265A6A;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 22.4px;
    text-align: center;
    padding-top: 65px;
    /* 93.333% */
}

.number-statistic {
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    padding-top: 70px;
}

.number-statistic h2 {
    width: 139.378px;
    height: 19.933px;
    flex-shrink: 0;
    color: #08546C;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 22.4px;
    padding-bottom: 45px;
    text-align: center;
}

.number-statistic p {
    width: 147px;
    height: 19.933px;
    flex-shrink: 0;
    color: #08546C;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.4px;
    padding-bottom: 92px;
    text-align: center;
}

main {
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
    /* border: 1px solid red; */
    background-color: #fff;

}

.container h5 {
    text-align: center;
    color: #265A6A;
    font-family: Schoolbell;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.4px;
    /* 93.333% */
    text-decoration-line: underline;
    padding-top: 200px;
}

.services-text {
    color: #08546C;
    font-family: Inter;
    font-size: 45px;
    font-weight: 600;
    line-height: 60px;
    justify-content: center;
    width: 560px;
    padding-top: 30px;

}

.brends {
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}

.Ux {
    width: 273px;
    height: 251px;
    background: #FFF;
    box-shadow: 0px 41.77761px 33.42209px 0px rgba(0, 0, 0, 0.05);
}

.web {
    width: 273px;
    height: 251px;
    background: #08546C;
    ;
    box-shadow: 0px 41.77761px 33.42209px 0px rgba(0, 0, 0, 0.05);
}

.visual {
    width: 273px;
    height: 251px;
    background: #FFF;
    box-shadow: 0px 41.77761px 33.42209px 0px rgba(0, 0, 0, 0.05);
}

.app {
    width: 273px;
    height: 251px;
    background: #FFF;
    box-shadow: 0px 41.77761px 33.42209px 0px rgba(0, 0, 0, 0.05);
}

.brends .img {
    width: 25px;
    height: 20.447px;
    padding: 29px 32px;
}

.brends h2 {
    color: #0F1221;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    padding: 29px 35px;
}

.brends p {
    width: 250px;
    height: 73px;
    flex-shrink: 0;
    color: #696969;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.6px;
    padding: 0px 32px;
}

.web img {
    width: 45px;
    height: 45px;
}

.web h2 {
    color: #fff;
    padding: 29px 29px;
}

#Portfolio h1 {
    color: #08546C;
    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 56.25px;
    text-align: center;
    padding-top: 200px;
}

#Portfolio p {
    color: #757575;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px;
    width: 500px;
    padding-top: 10px;
}

.website {
    width: 100%;
    height: auto;
    padding-top: 60px;
}

.Top {
    width: 100%;
    display: flex;
    flex: 40%;
    justify-content: space-between;
}

.website-design {
    width: 100%;
    height: auto;
}

.Bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 200px;
}

.website h2 {
    color: #08546C;
    font-family: 'Inter';
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 28.8px;
    padding-top: 40px;
}


.website p {
    color: #757575;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.6px;
    padding-top: 10px;
}

.Read-Case-Study {
    display: flex;
    padding-top: 20px;

}


.read-btn a{
    color: #08546C;
font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 25.6px; /* 142.222% */
}
.read-btn1 a{
    color: #FFA800;
font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 25.6px; /* 142.222% */
}

.orange {
    color: #FFA800;
    padding-top: 20px;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 25.6px;
}

.Read-Case-Study img {
    width: 16px;
    height: 13.086px;
    padding-top: 0px;
    margin-top: 25px;
    margin-left: 15px;
}

#Blog {
    max-width: 1920px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    background: url(<path-to-image>), #07475C 0% 0% / 100px 100px repeat;

}

.container-blog {
    max-width: 1313px;
    display: flex;
    justify-content: space-between;
}

.Right-blog {
    /* border: 1px solid red; */
    width: 50%;
}

.Right-blog img {
    padding-top: 120px;
}

.Right-blog p {
    width: 455px;
    height: 151px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25.6px;
    padding-top: 35px;
}

.Right-blog h6 {
    color: #AABFC6;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.6px;
    padding-top: 66px;
}

footer {
    max-width: 1920px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    /* border: 1px solid red; */
}

.footer {
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}

.footer p {
    max-width: 300px;
    color: #757575;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding-top: 20px;
}

.P-img {
    padding-top: 100px;
}

.icons {
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding-top: 55px;
}

.footer h3 {
    color: #08546C;
    padding-top: 100px;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}